<% include partials/header.ejs %>
<div class="bgimg-1">
  <div class="caption">
  <span class="border">Thank You For Registring !!</span>
  <a class="btn btn-primary btn-large" style="margin:0 auto;min-height: 50px;min-width: 200px;text-align:center" href="/">Back to Home Page</a>
  </div>
  <h2 Style="position: absolute;
  bottom: 0;
  left: 0;">Trademark @AnuragGarg</h2>
</div>
<% include partials/footer.ejs %>