<% include partials/header.ejs %>
<div class="bgimg-1">
  <div class="caption" style="top:40%">
  <span class="border">You are not a User !!</span>
  </div>
  <div class="caption" style="top:60%">
  <a class="btn btn-primary btn-large" style="margin:0 auto;min-height: 50px;min-width: 200px;text-align:center" href="/"><font size="4">Back to Home Page</font></a>
  </div>
  <h2 Style="position: absolute;
  bottom: 0;
  left: 0;">Trademark @AnuragGarg</h2>
</div>
<% include partials/footer.ejs %>