<!DOCTYPE html>
<html>
    <head>
        <title>MakeMyCollegeTrip</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    </head>
    <body>
        
    <div class="ui main text container segment">
    <div class="ui huge header">Admin Sign In</div>
    <form class="ui form" action="/signin" method="POST">
        <div class="field">
            <label>UserName</label>
            <input type="text" name="name" placeholder="Enter Name..">
        </div>
        <div class="field">
            <label>Password:</label>
            <input type="number" name="pass" placeholder="Enter Password..">
        </div>
         <input class="ui violet big basic button" type="submit">
    </form>
</div>
    </body>
</html>